<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta http-equiv="content-type" content="text/html" ; charset="UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${user}">Hey ho!</p>

<h1>Newsletter From</h1>

<form action="#" th:action="@{/newsletter}" th:object="${newsletter}" method="post">
    <p>Email: <input type="email" th:field="*{email}"/></p>
    <p>
        <input type="submit" value="Subscribe"/>
        <input type="reset" value="Reset"/>
    </p>

</form>

</body>
</html>